<!DOCTYPE html>
<html>
<head>
    <title>Anasayfa</title>
</head>
<body>
    <h1>City Weather</h1>

    {% if user.is_authenticated %}
        <p>Hoşgeldin, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Çıkış Yap</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Giriş Yap</a>
        <a href="{% url 'register' %}">Kayıt Ol</a>
    {% endif %}

    <ul>
        {% for sehir in sehirler %}
            <li><a href="{% url 'sehir_detay' sehir %}">{{ sehir }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
